html, div{
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-family: '微軟正黑體', Helvetica, Arial, sans-serif; 
	font-weight:bold;
}

ul , li{
	display:inline;
}
.navbar {
	margin-bottom:0px;
	background-color:rgba(30, 0, 30, 0.15);
}
.navbar .col-md-10{
	height:53px;
	margin:0px;
	padding-left:0px;
	padding-right:0px;
}
.navbar .col-md-10 .nav{
	margin:auto;
	width:40vw;
	display:block;
	float: initial;
	text-align:center;
	padding-left:22px;
}
.nav-text{
	text-align:center;
	font-size:15px;
	margin:0px 3px ;
	font-weight:900;
	color : white;
	text-shadow: 0.5px 1px 0.5px #000;
	border:solid rgba(0, 0, 0, 0) 2px;
}
.nav-text:hover{
	color: black;
	border:solid black 2px;
	transition:color 0.5s;
	transition:border 0.5s;
	-moz-transition:color border 0.5s;
    -webkit-transition:color border 0.5s;
    -o-transition:color border 0.5s;    
}
#wrap{
	padding:0;
	background-image: url(pic/wrap.jpeg);
	background-attachment: fixed;
	background-size: cover;
	background-position: 50% 0px;
	background-repeat: no-repeat no-repeat;
}
#wrap-speak{
	visibility: hidden;
	position:absolute;
	text-align: center;
	top:32%;
	left:19.5%;
	width:21%;
	padding-top: 0.5%;
	font-size: 32px;
	color :white;
	font-family: 'Indie Flower', cursive;
	text-shadow: 3px 3px 3px black;
	border: dashed 4px black;
	border-radius: 20px;
	background-color: rgba(30, 50 , 30 , 0.45);
}
#word{
	position:absolute;
	text-align: center;
	top:79%;
	left:20%;
	width:60%;
}
#wrap-name{
	text-decoration:none;
	text-shadow: 3px 3px 5px #000;
	letter-spacing: 1.5px;
	font-family: 'Indie Flower', cursive;
	font-size:60px;
	color:#FFDAB9;
}
#wrap-name:hover{
	font-size:63px;
	text-shadow: 3px 5px 6px #000;
	transition: text-shadow 0.2s;
	transition: font-size 0.08s;
}
#word p{
	letter-spacing: 1.5px;
	line-height: 58px;
	font-size: 22px;
	color :white;
	text-shadow: 3px 3px 4px black;
	font-family:'Orbitron', sans-serif; 
	font-weight:500;
}
.wrap-finger{
	font-size:28px;
	font-weight: 900;
	color:black;
	text-shadow: 2px 3px 2px #FFDAB9;
}
#about{
	margin-top:8px;
	height:83%;
	background-color: rgba(210,210,210,0.6);
	border-bottom: 2px solid black;
	border-top: 2px solid black;

}
#resume{
	margin-top:5px;
	height:33%;
	background-image: url(pic/resume-head.jpg);
	background-size:  88% 100% ;
	background-attachment: fixed;
	background-position: 50% 0px;
	background-repeat: no-repeat no-repeat;
}
#motto{
	height:77%;
	background-image: url(pic/motto-background.jpg);
	background-size: cover ;
	background-attachment: fixed;
	background-position: 50% 50%;
	border-radius: 10px;
}
#contact{
	margin-top: 3px;
	background-color: 
}
#about-header{
	margin:0px;
	text-align:center ;
	padding:6% 8% 0px 8%;
	font-size:35px;
}
#about-pic-header{
	height : 20vw ;
	left:10%;
	margin-top: 15%;
	position:absolute;
}
#about-word{
	margin-top:5%;
	left:42%;
	width:47%;
	position:absolute;
}
#about-name{
	font-size:25px;
	font-family:'Montserrat', sans-serif;
	font-weight:bold;
}
#about-story{
	margin-top:5%;
	font-size:18px;
	color: rgba(0,0,30,0.6);
	font-family:'Montserrat', sans-serif;
	font-weight:normal;
}
#about-story-end{
	font-size:20px;
	color: rgba(0,0,30,0.8);
	font-family:'Montserrat', sans-serif;
	font-weight:bold;
}
#icon-social{
	font-size:40px;
	padding:0px;
	height:40px;
}
#icon-social ul{
	padding-left:0px;
	padding-right:0px;
	text-align: center;
}
#icon-social li{
	padding:0px 10.2% 0px 10.2% ;	
}
#icon-social li i{
	color:rgba(20,20,30,0.35);
}
#icon-social li i:hover{
	color:black;
	transition:color 0.5s;
}
.resume-inline-word p{
	font-weight:normal;
	font-family:'Montserrat', sans-serif;
}
#resume-header{
	margin:0px;
	text-align:center ;
	padding:10% 8% 0px 8%;
	font-size:35px;
}
.resume-left{
	position: absolute;
	font-size:20px;
	left:13%;
	text-align:center;
	width:13%;
}
.resume-right{
	position: absolute;
	font-size:18px;
	right:16%;
	width:50%;
	color: rgba(0,0,30,0.6);
	font-family:'Montserrat', sans-serif;
}
#resume-education{
	border-bottom:2px solid rgba(20,20,30,0.35) ;
	height:55%;
	width:78.5%;
}
#resume-work{
	border-bottom:2px solid rgba(20,20,30,0.35) ;
	height:100%;
	width:78.5%;
}
#resume-extra{
	border-bottom:2px solid rgba(20,20,30,0.35) ;
	height:98%;
	width:78.5%;
}
.resume-left-block{
	margin-top:0%;
	padding-top:20%;
}
.resume-word-name{
	margin-top:0%;
	padding-top:5%;
	font-size:23px;
	color:black;
}
#motto-header{
	margin:0px;
	text-align:center ;
	padding:6% 8% 0px 8%;
	font-size:35px;
}
#motto-box{
	width:60%;
	height:80%;
}
.motto-word{
	margin-top:10%;
	font-size: 40px ;
	color: #FFFAFA;
	text-shadow: 1px 2px 1px #000;
}
#motto1{
	text-align:center;
	font-family:'Bad Script', cursive;
}
#motto1-chinese{
	width:40vw;
	border-radius: 50px;
	margin-top:7%;
	background-color: rgba(230, 230 , 230 , 0.3);
}
#motto2{
	text-align:center;
	line-height: 35px;
	font-family: 'Bad Script', cursive;
}
#motto2-sub{
	font-family: 'Courgette', cursive;
	text-align:right ;
	font-size:14px;
}
#contact-box{
	padding:0px ;
	height:74%;
	background-image: url(pic/star.jpg);
	background-size: cover ;
	background-attachment: fixed;
	background-position: 50% 10px;
	background-repeat: no-repeat no-repeat;
	border-top:solid black 3px;
	border-bottom:solid black 3px;
}
#contact-img{
	width:25vw;
	margin-right:10%;
	margin-top:3%;
	border-radius:30px;
}
.contact-word{
	font-family: 'Coming Soon', cursive;
	letter-spacing: 1px;
	font-size:20px;
	line-height:32px;
}
#contact-name{
	margin-left:3%;
	margin-top:10%;
	font-size:46px;
	text-shadow: 1px 1px 1px (20,20,30,0.8);
	font-family: 'Indie Flower', cursive;
}
#contact-icon{
	height:40px;
	padding-left:0px;
	padding-right:0px;
	font-size:40px;
}
#contact-icon ul{
	padding-left:0.5%;
	text-align:center;
}
#contact-icon li{
	padding:0px 10.2% 0px 10.2% ;	
}
#contact-icon li i{
	color:rgba(230, 230 , 230 , 0.8);
}
#contact-icon li i:hover{
	color:black ;
	transition:color 0.5s ;
}
.smoothscroll{
	text-align: center;
	padding-left:0px;
	padding-right:0px;
	font-size:42px;
}
.smoothscroll a i{
	color:rgba(50,40,50,0.9);
}
.smoothscroll a i:hover{
	color:#66CDAA;
	transition:color 0.3s;
}
#copyrigh-word{
	padding-top:1%;
	text-align: center;
	font-family: 'Coming Soon', cursive;
	font-size:12px;
}