html, div{
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-family: '微軟正黑體', Helvetica, Arial, sans-serif; 
	font-weight:bold;
}

ul , li{
	display:inline;
}
.navbar {
	margin-bottom:0px;
	background-color:rgba(30, 0, 30, 0.15);
}
.navbar ul{
	margin:0px;
	padding-left:0px;
	padding-right:0px;
}
.navbar .nav{
	margin:auto;
	width:440px;
	display:block;
	float: initial;
	text-align:center;

}
.navbar-nav>li>a{
	padding:10px 14px;
}
.nav-text{
	text-align:center;
	font-size:14px;
	font-weight:900;
	color : white;
	text-shadow: 0.5px 1px 0.5px #000;
	border:solid rgba(0, 0, 0, 0) 2px;
}
.nav-text:hover{
	color: black;
	border:solid black 2px;
	transition:color 0.5s;
	transition:border 0.5s;
	-moz-transition:color border 0.5s;
    -webkit-transition:color border 0.5s;
    -o-transition:color border 0.5s;    
}
#wrap{
	height:100%;
	padding:0;
	background-image: url(pic/wrap.jpeg);
	background-attachment: fixed;
	background-size: cover;
	background-position: 50% 0px;
	background-repeat: no-repeat no-repeat;
}
#wrap-back{
	margin:0;
	height:100%;
	background-color: rgba(30, 50 , 30 , 0.2);
	padding-left: 0;
	padding-right: 0;
}
#wrap-speak{
	visibility: hidden;
	position:absolute;
	text-align: center;
	top:32%;
	left:19.5%;
	width:21%;
	padding-top: 0.5%;
	font-size: 2em;
	color :white;
	font-family: 'Indie Flower', cursive;
	text-shadow: 3px 3px 3px black;
	border: dashed 4px black;
	border-radius: 20px;
	background-color: rgba(30, 50 , 30 , 0.45);
}
#wrap-speak i{
	font-size:1em;
}
#word{
	position:absolute;
	text-align: center;
	top:79%;
	left:9%;
	width:80%;
}
#wrap-name{
	text-decoration:none;
	text-shadow: 3px 3px 5px #000;
	letter-spacing: 1.5px;
	font-family: 'Indie Flower', cursive;
	font-size:3.75em;
	color:#FFDAB9;
}
#wrap-name:hover{
	font-size:3.9em;
	text-shadow: 3px 5px 6px #000;
	transition: text-shadow 0.2s;
	transition: font-size 0.08s;
}
#word p{
	letter-spacing: 0.1em;
	line-height: 2em;
	font-size: 1.375em;
	color :white;
	text-shadow: 3px 3px 4px black;
	font-family:'Orbitron', sans-serif; 
	font-weight:500;
}
.wrap-finger{
	font-size:2em;
	font-weight: 900;
	color:black;
	text-shadow: 2px 3px 2px #FFDAB9;
}
#about{
	margin-top:0.5em;
	height:83%;
	background-color: rgba(210,210,210,0.6);
	border-bottom: 2px solid black;
	border-top: 2px solid black;
	position:relative;

}
#resume{
	margin-top:0.3125em;
	height:33%;
	background-image: url(pic/resume-head.jpg);
	background-size:  88% 100% ;
	background-attachment: fixed;
	background-position: 50% 0px;
	background-repeat: no-repeat no-repeat;
}
#motto{
	height:77%;
	background-image: url(pic/motto-background.jpg);
	background-size: cover ;
	background-attachment: fixed;
	background-position: 50% 50%;
	border-radius: 10px;
}
#motto-white{
	height:23%;
}
#contact{
	margin-top: 0.3125em;
	height:68%;
	padding:0px;
}
#about-header{
	margin:0px;
	text-align:center ;
	padding:6% 8% 0px 8%;
	font-size:2.2em;
}
#about-box{
	height:83%;
	padding:0;
}
#about-pic-header{
	width : 27vw ;
	left:9em;
	top:2em;
	position:relative;
}
#about-word{
	left:13em;
	top:-12.5em;
	width:47%;
	position:relative;
}
#about-name{
	font-size:1.5em;
	font-family:'Montserrat', sans-serif;
	font-weight:bold;
}
#about-story{
	margin-top:1em;
	font-size:1.1em;
	color: rgba(0,0,30,0.6);
	font-family:'Montserrat', sans-serif;
	font-weight:normal;
}
.about-story-end{
	font-size:1.25em;
	color: rgba(0,0,30,0.8);
	font-family:'Montserrat', sans-serif;
	font-weight:bold;
}
#about-story-end-1{
	margin-top:0.8em;
}
#about-story-end-2{
	text-align:right;
}
#icon-social{
	font-size:2.5em;
	padding:0px;
	height:1em;
}
#icon-social ul{
	padding-left:0px;
	padding-right:0px;
	text-align: center;
}
#icon-social li{
	padding:0px 10.2% 0px 10.2% ;	
}
#icon-social li i{
	color:rgba(20,20,30,0.35);
}
#icon-social li i:hover{
	color:black;
	transition:color 0.5s;
}
.resume-inline-word{
	height:260%;
	margin-top:3px;
	position:relative;
}
.resume-inline-word p{
	font-weight:bold;
	font-family:'Montserrat', sans-serif;
}
#resume-header{
	margin:0px;
	text-align:center ;
	padding:10% 8% 0px 8%;
	font-size:2.2em;
}
.resume-left{
	position: absolute;
	font-size:1.3em;
	left:13%;
	text-align:center;
	width:13%;
}
.resume-right{
	position: absolute;
	font-size:1.11em;
	right:16%;
	width:50%;
	color: rgba(0,0,30,0.6);
	font-family:'Montserrat', sans-serif;
}
#resume-education{
	border-bottom:2px solid rgba(20,20,30,0.35) ;
	height:21%;
	width:78.5%;
}
#resume-work{
	border-bottom:2px solid rgba(20,20,30,0.35) ;
	height:38%;
	width:78.5%;
}
#resume-extra{
	border-bottom:2px solid rgba(20,20,30,0.35) ;
	height:37%;
	width:78.5%;
}
.resume-left-block{
	margin-top:0%;
	padding-top:20%;
}
.resume-right .resume-sub{
	font-size:0.89em;
	font-weight: normal;
}
.resume-right .resume-date{
	text-align:right;
}
.resume-word-name{
	padding-top:1.1em;
	font-size:1.2em;
	color:black;
	font-weight: bold;
}
#motto-header{
	margin:0px;
	text-align:center ;
	padding:6% 8% 0px 8%;
	font-size:2.2em;
}
#motto-box{
	width:60%;
	height:80%;
}
.motto-word{
	margin-top:10%;
	font-size: 2.5em ;
	color: #FFFAFA;
	text-shadow: 1px 2px 1px #000;
}
#motto1{
	text-align:center;
	font-family:'Bad Script', cursive;
}
#motto1-chinese{
	border-radius: 3em;
	margin-top:1.1em;
	background-color: rgba(230, 230 , 230 , 0.3);
}
#motto1-chinese img{
	width:40vw;
}
#motto2{
	text-align:center;
	line-height: 0.85em;
	font-family: 'Bad Script', cursive;
}
#motto2-sub{
	font-family: 'Courgette', cursive;
	text-align:right ;
	font-size:0.37em;
	text-shadow: 0px 0px 0px white;
	color:black;
}
#contact-box{
	padding:0px ;
	height:74%;
	background-image: url(pic/star.jpg);
	background-size: cover ;
	background-attachment: fixed;
	background-position: 50% 0.625em;
	background-repeat: no-repeat no-repeat;
	border-top:solid black 3px;
	border-bottom:solid black 3px;
}
#contact-div-img{
	text-align:right;
	padding:3.5em 4em 0px 0px;
}
#contact-img{
	width:25vw;
	border-radius:1.8em;
}
#contact-div-word{
	padding:3.3em 0px 0px 1em;
}
.contact-word{
	font-family: 'Coming Soon', cursive;
	letter-spacing: 1px;
	font-size:1.3em;
	line-height:1.3em;
}
#contact-word-first{
	margin-top:2em;
}
#contact-name{
	font-size:2.5em;
	text-shadow: 1px 1px 1px (20,20,30,0.8);
	font-family: 'Indie Flower', cursive;
}
#contact-icon{
	height:2.5em;
	padding-left:0px;
	padding-right:0px;
	font-size:2.5em;
	padding-top:0.2em;
}
#contact-icon ul{
	padding-left:0.5%;
	text-align:center;
}
#contact-icon li{
	padding:0px 10.2% 0px 10.2% ;	
}
#contact-icon li i{
	color:rgba(230, 230 , 230 , 0.8);
}
#contact-icon li i:hover{
	color:black ;
	transition:color 0.5s ;
}
.smoothscroll{
	text-align: center;
	padding-left:0px;
	padding-right:0px;
	font-size:2.5em;
}
.smoothscroll a i{
	color:rgba(50,40,50,0.9);
}
.smoothscroll a i:hover{
	color:#66CDAA;
	transition:color 0.3s;
}
#resume-smooth{
	position:relative;
	top: -2%;
}
#motto-smooth{
	margin:0px;
	padding-top:1em;
}
#about .smoothscroll{
	padding-top:0.8em;
}
#copyrigh-word{
	text-align: center;
	font-family: 'Coming Soon', cursive;
	font-size:0.8em;
}
#end-top{
	margin:0px;
	padding-top:1%;
}

@media screen and (min-width:1600px) {
	.navbar-nav > li > a.nav-text{
		padding:18px 20px;
		font-size:20px;
	}
	.navbar .nav{
		width:615px;
	}
	#contact-div-word{
		padding:6em 0 0 0;
	}
	#contact-icon{
		padding-top: 1em;
	}
}

@media screen and (max-width: 1200px) {

	.navbar-nav > li > a.nav-text{
		padding:6px 8px;
		font-size:14px;
	}
	.navbar{
		min-height:0px;
	}
	.navbar .nav{
		width:385px;
	}
	#wrap{
		height:93%;
	}
	#wrap-speak{
		font-size: 1.2em;
		top:23%;
	}
	.wrap-finger{
		font-size: 1.8em;
	}
	#wrap-name{
		font-size:3.3em;
	}
	#wrap-name:hover{
		font-size:3.6em;
	}
	#word{
		top:70%;
	}
	#word p{
		font-size:1.1em;
		line-height: 2.5em;
	}

	#about-header{
		font-size: 1.6em;
	}
	#about-word{
		left:10em;
		top:-7em;
		width:44%;
	}
	#about-name{
		font-size:1em;
	}
	#about-story{
		font-size:0.85em;
	}
	.about-story-end{
		font-size:1em;
		margin:0;
	}
	#about-story-end-1{
		position: relative;
		left: -3em;
		margin-top:0.5em; 
	}
	#icon-social{
		font-size:1.8em;
	}
	#about .smoothscroll{
		padding-top: 0.5em;
	}

	#resume-header{
		font-size: 1.6em;
		padding-top: 8%;
	}
	.resume-inline-word{
		height:230%;
	}
	.resume-word-name{
		padding-top:0.8em;
	}
	.resume-left{
		font-size:1em;
	}
	.resume-right{
		font-size:0.8em;
		margin-top: 2em;
	}
	.resume-right .resume-sub{
		font-size:0.8em;
	}

	#motto-header{
		font-size: 1.6em;
	}
	.motto-word{
		font-size:1.8em;
	}

	#contact-div-word{
		padding:4.4em 0 0 0 ;
	}
	#contact-name{
		font-size:2em;
	}
	#contact-word-first{
		margin-top:1em;
	}
	.contact-word{
		font-size:0.9em;
		line-height:1.1em;
	}
	#contact-icon {
		padding-top:0.5em;
		font-size:1.8em;
	}


	.smoothscroll{
		font-size:2em;
	}
	#copyrigh-word{
		font-size:0.1em;
	}

}

@media screen and (max-width: 768px) {

	nav{
		display:none;
	}
	#wrap-speak{
		font-size: 1em;
		top:28%;
		visibility: visible;
		border:none;
		background-color: transparent;
	}
	.wrap-finger{
		font-size: 1.1em;
	}
	#wrap-name{
		font-size:2em;
	}
	#wrap-name:hover{
		font-size:2.3em;
	}	

	#word p{
		font-size:0.8em;
	}

	#about{
		height:170%;
	}
	#about-box{
		height:91%;
	}
	#about-header{
		font-size: 1.3em;
		padding:1em 0 0 0 ; 
	}
	#about-pic-header{
		width : 50vw ;
		left:9em;
		top:0em;
	}
	#about-word{
		left:1em;
		top:1em;
		width:88%;
	}
	#about-name{
		font-size:1.2em;
		text-align: center;
	}
	.about-story-end{
		font-size:0.95em;
	}
	#about-story-end-1{
		left: 0em;
	}

	#about .smoothscroll{
		padding-top: 0.1em;
	}

	#resume{
		height:28%;
	}
	.resume-inline-word{
		height:440%;
	}
	#resume-header{
		font-size: 1.3em;
	}
	.resume-left{
		position:static;
		width:100%;
		margin-top:3%;
	}
	.resume-left-block{
		padding-top:0%;
	}
	.resume-right{
		position:static;
		width:100%;
	}
	#resume-education{
		border:none;
	}
	#resume-work{
		border:none;
	}
	#resume-smooth{
		top:-1%;
	}

	#motto{
		height:90%;
	}
	#motto-white{
		height:10%;
	}
	#motto-header{
		font-size: 1.3em;
	}
	.motto-word{
		font-size:1.3em;
		margin-top:6%;
	}

	#contact{
		margin-top: 0.3125em;
		height:115%;
	}
	#contact-box{
		height:100%;
	}
	#contact-div-img{
		padding:1em 0 0 0;
		text-align:center;
	}
	#contact-img{
		width:40vw;
	}
	#contact-div-word{
		padding:1em 0 0 0;
		text-align: center;
	}
	#contact-icon {
		padding-top:0em;
	}


	.smoothscroll{
		font-size:1.5em;
	}

}

@media screen and  (orientation: portrait) and (max-width:480px) {
	#wrap{
		height:100%;
	}
	#wrap-speak{
		top:70%;
		left:42%;
		width:200px;
	}

	#word{
		width:100%;
		left:0%;
		top:80%;
	}

	#about{
		height:110%;
	}
	#about-box{
		height:90%;
	}
	#about-pic-header{
		width : 70vw ;
		left:2em;
	}
	#about-word{
		left:0em;
	}
	

	#resume{
		height:15%;
	}
	.resume-inline-word{
		height:350%;

	}

	#motto{
		height:70%;
	}
	#motto-box{
		width:90%;
	}
	.motto-word p{
		font-size:0.8em;
	}
	#motto1{
		line-height:4em;
	}
	#motto1-chinese img{
		width:70vw;
	}
	#motto2{
		line-height:1.1em;
		margin-top:2.5em;
	}
	#motto2-sub{
		font-size:0.1em;
	}

	#contact{
		margin-top: 0.3125em;
		height:80%;
	}
	#contact-img{
		width:75vw;
	}
	#contact-icon{
		padding-top:1em;
	}

}

@media screen and  (orientation: portrait) and (min-width:481px) and (max-width:768px) {

	#wrap-speak{
		font-size:2em;
		top:22%;
		left:12.5%;
	}
	#wrap-name{
		font-size:3.8em;
	}
	#wrap-name:hover{
		font-size:4.1em;
	}
	.wrap-finger{
		font-size:2em;
	}
	#word p{
		font-size:1.2em;
	}
	#about{
		height:75%;
	}
	#about-header{
		font-size:1.6em;
		padding-top:2em;
	}
	#about-pic-header{
		left:10em;
	}
	#about-name{
		font-size:2em;
	}
	#about-story{
		font-size:1.2em;
	}
	.about-story-end{
		font-size:1.4em;
	}
	#icon-social{
		font-size:2.2em;
	}

	#resume{
		height:21%;
	}
	.resume-inline-word{
		height:220%;
	}
	#resume-header{
		font-size:1.6em;
		padding-top:14%;
	}
	.resume-left{
		font-size:2em;
	}
	.resume-right{
		font-size:1em;
	}
	.resume-right .resume-sub{
		font-size:0.9em;
	}
	.resume-word-name{
		font-size:1.5em;
	}

	#motto{
		height:60%;
	}
	#motto-header{
		font-size:1.6em;
		padding-top:11%;
	}
	#motto-box{
		width:90%;
	}
	.motto-word{
		font-size:2.3em;
		margin-top:14%;
	}
	#motto1-chinese img{
		width:60vw;
	}

	#contact{
		height:70%;
	}
	#contact-div-img{
		width:100%;
	}
	#contact-img{
		width:52vw;
		margin-top:8%;
	}
	#contact-div-word{
		width:100%;
	}
	#contact-name{
		font-size: 3.3em;
	}
	.contact-word{
		font-size:1.8em;
	}
	#contact-icon{
		font-size:2.2em ;
	}

	.smoothscroll{
		font-size:2.5em;
	}
	#end-top{
		padding-top:15%;
	}


}
@media screen and  (orientation: portrait) and (width:768px) {

	nav{
		display:block;
	}
	.navbar-nav > li > a.nav-text{
		padding:16px 8px;
		font-size:17px;
	}
	.navbar{
		min-height:0px;
	}
	.navbar .nav{
		width:440px;
	}
	.resume-inline-word{
		height:200%;
	}

}


